<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Quiz Challenger</title>
    <meta charset="UTF-8">



    <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>

    <link rel="stylesheet" href="../stylesheets/style1.css" media="screen" type="text/css" />
    <link rel="shortcut icon" href="http://www.onlinequizcreator.com/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../stylesheets/A.styles.css.pagespeed.cf.xV6htyUXH4.css">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all" />
    <script src='/javascripts/jquery-1.8.1.min.js' type='text/javascript'></script>
    <script src='/javascripts/jquery.kwicks.js' type='text/javascript'></script>
    <script type='text/javascript'>
        $(function() {
            $('.kwicks').kwicks({
                maxSize : 250,
                spacing : 5,
                behavior: 'menu'
            });
        });
    </script>


</head>
<body class="bg">
<div class="header-bg">
    <div class="wrap">
        <div class="header">
            <div class="logo">
                <a href="index.html"><img src="/images/logo1.png"> </a>
            </div>
            <div class="menu">
                <% include menu_header %>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="navbar">
    <div class="wrapper clearfix">
        <nav class="langswitch">
        </nav>


        <div class="pageheader" style="margin-top: 50px;">

            <div class="container">

                <div class="row clearfix introbar" id="startedit">
                    <div class="col12">
                        <div class="contentbox createquiz">
                            <h2>Challenge your Friends !!!</h2></br>

                            <form id="quizType" action="./acknowledge" method="POST">
                                <fieldset>
                                    <div>
                                        <input placeholder="Enter the mail of your Friend" id="email" name="email" type="text" required="" tabindex="1"></div>
                                </fieldset>

                                <input type="hidden" name="qid" id="qid" value="<%= qid %>">
                                <div class="row prevnext"><input class="new" name="Next" type="submit" value="Challenge">	</div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<% include footer %>