<!DOCTYPE HTML>
<html>
<head>
    <title>Quiz Challenger</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all" />
    <script src='/javascripts/jquery-1.8.1.min.js' type='text/javascript'></script>
    <script src='/javascripts/jquery.kwicks.js' type='text/javascript'></script>
    <script src='/javascripts/jquery.validate.js' type='text/javascript'></script>
    <script type='text/javascript'>
        $(function() {
            $('.kwicks').kwicks({
                maxSize : 250,
                spacing : 5,
                behavior: 'menu'
            });
        });


        $().ready(function() {

            $("#contactusform").validate({
                rules: {
                    userName: "required",
                    userEmail: {
                        required: true,
                        email: true
                    },
                    userMsg: "required",

                    agree: "required"
                },
                messages: {
                    name: "Please enter your firstname",
                    password: {
                        required: "Please provide a password",
                        minlength: "Your password must be at least 7 characters long"
                    },
                    repassword: {
                        required: "Please provide a password",
                        minlength: "Your password must be at least 7 characters long",
                        equalTo: "Please enter the same password as above"
                    },
                    email: "Please enter a valid email address",
                    agree: "Please accept our policy"
                }
            });


        });

    </script>
    <style>
        #contactusform {
            width: 670px;
        }
        #contactusform label.error {
            margin-left: 10px;
            width: auto;
            display: inline;
            color: red;

        }
    </style>
</head>
<body class="bg">
<div class="header-bg">
    <div class="wrap">
        <div class="header">
            <div class="logo">
                <a href="/"><img src="/images/logoquiz1.jpg"> </a>
            </div>
            <div class="menu">
                <ul class='kwicks kwicks-horizontal'>
                    <li><a href="/quizIndex">Create Quiz</a></li>
                    <li><a href="/quizShow">All Quiz</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="wrap">
    <div class="content">
        <div class="section group">

            <div class="col span_2_of_3">
                <h3 style="margin-left: 250px;"><%= emailMsg %></h3>
                <div class="contact-form">
                    <h3>Contact Us</h3>

                    <form method="post" id="contactusform" action="/contact">
                        <div>
                            <span><label>NAME</label></span>
                            <span><input name="userName" id="userName" type="text" class="textbox"></span>
                        </div>
                        <div>
                            <span><label>E-MAIL</label></span>
                            <span><input name="userEmail" id="userEmail" type="text" class="textbox"></span>
                        </div>
                        <div>
                            <span><label>MOBILE</label></span>
                            <span><input name="userPhone" id="userPhone" type="text" class="textbox"></span>
                        </div>
                        <div>
                            <span><label>SUBJECT</label></span>
                            <span><textarea name="userMsg" id="userMsg"> </textarea></span>
                        </div>
                        <div>
                            <span class="button-wrap"><input type="submit" value="Send"></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<% include footer %>