<div class="footer-bg">
    <div class="wrap">
        <div class="footer">
            <div class="f_grid">
                <div class="social">
                    <ul class="follow_icon">

                    </ul>
                </div>
            </div>
            <div class="f_grid1">
                <ul class="f_nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/quizIndex">Take Quiz</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/signup">Sign up</a></li>
                </ul>
                <!--<div class="copy">
                    <p class="w3-link">© All Rights Reserved | Design by&nbsp; <a href="http://w3layouts.com/"> W3Layouts</a></p>
                </div> -->
                <div class="clear"></div>
            </div>
            <div class="f_logo">
                <a href=""><img src="/images/logoquiz2.jpg" alt=""></a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
</body>
</html>