<div class="header-bg">
    <div class="wrap">
        <div class="header">
            <div class="logo">
                <a href="index.html"><img src="images/logo1.png"> </a>
            </div>
            <div class="menu">
                <% include menu_header %>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="wrap">