<ul class='kwicks kwicks-horizontal'>
    <li><a href="/quizIndex">Create Quiz</a></li>
    <li><a href="/quizShow">Take Quiz</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>