
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>The Knowledge Website Template | Contact :: w3layouts</title>
    <meta charset="UTF-8">



    <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>

    <link rel="stylesheet" href="../stylesheets/style1.css" media="screen" type="text/css" />
    <!--<link rel="stylesheet" type="text/css" href="./quiz - Question 1_files/css">-->
    <!--<link rel="stylesheet" type="text/css" href="./quiz - Question 1_files/css(1)">-->
    <!--<link rel="stylesheet" type="text/css" href="./quiz - Question 1_files/css(2)">-->
    <link rel="shortcut icon" href="http://www.onlinequizcreator.com/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../stylesheets/A.styles.css.pagespeed.cf.xV6htyUXH4.css">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all" />
    <script src='/javascripts/jquery-1.8.1.min.js' type='text/javascript'></script>
    <script src='/javascripts/jquery.kwicks.js' type='text/javascript'></script>
    <script type='text/javascript'>
        $(function() {
            $('.kwicks').kwicks({
                maxSize : 250,
                spacing : 5,
                behavior: 'menu'
            });
        });
    </script>
    <!--<script type="text/javascript" async src="javascripts/dc.js"></script><script type="text/javascript" src="./quiz - Question 1_files/jquery.min.js.pagespeed.jm.0IhQ85x_cu.js"></script>-->
    <!--<script src="javascripts/assets,_2f0462bd,_jquery.yiiactiveform.js+script,_modernizr-2.0.6.min.js.pagespeed.jc.UfyS2FB-Kk.js"></script><script>eval(mod_pagespeed_OJJMTuGssn);</script>-->
    <!--<script>eval(mod_pagespeed_2tC76g1DoG);</script>-->
    <!--<script type="text/javascript">//<![CDATA[-->
    <!--var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-37393424-2']);_gaq.push(['_setDomainName','.www.onlinequizcreator.com']);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://':'http://')+'stats.g.doubleclick.net/dc.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s);})();-->
    <!--//]]></script>-->

    <script>
        $(document).ready(function(){
            $('#quizCreate').click(function(){
                //alert("ok");
                $('#quizIndex').attr('action', '/quizType');
            });


            $('#quizShow').click(function(){
              //  alert("ok");
                $('#quizIndex').attr('action', '/quizShow');
            });


        });

    </script>

</head>
<body class="bg">
<div class="header-bg">
    <div class="wrap">
        <div class="header">
            <div class="logo">
                <a href="index.html"><img src="/images/logo1.png"> </a>
            </div>
            <div class="menu">
                <% include menu_header %>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="navbar">
    <div class="wrapper clearfix">
        <nav class="langswitch">
        </nav>

        <!--<div class="navbar menubar" style="position: fixed; top: 0px; left: 0px;">-->
        <!--<div class="wrapper clearfix">-->
        <!--<div class="row">-->
        <!--<div class="col8">-->
        <!--</div>-->
        <!--<div class="col4 last">-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <div class="pageheader" style="margin-top: 50px;">

            <div class="container">

                <div class="row clearfix introbar" id="startedit">
                    <div class="col12">
                        <div class="contentbox createquiz">
                            <h2>Welcome to Quiz Menu !!!</h2></br>

                            <form id="quizIndex" method="get">
                                <fieldset>
                                    <div>
                                        <input class="prev" id="quizCreate" name="quizCreate" type="submit" value="Create Quiz" >
                                    </div>
                                    <div>
                                        <input class="prev" name="quizShow" id="quizShow" type="submit" value="Show All Quiz"  >
                                    </div>


                                </fieldset>



                                <!--<div class="row playsave">-->
                                <!--<p class="handwritten">Done creating your quiz? Now its time to Challenge Your Friends.</p>-->
                                <!--<input class="save" name="Challenge Friend" type="submit" value="Challenge Friend"/>-->
                                <!--</div>-->

                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <!--<script src="javascripts/base.js,qv==2+script.js,qv==4.pagespeed.jc.Z13_xlKGLv.js"></script><script>eval(mod_pagespeed_1a3lV5j7kF);</script>-->
        <!--<script>eval(mod_pagespeed_BJxTPQBjCJ);</script>-->
        <!--<script type="text/javascript">//<![CDATA[-->
        <!--jQuery(function($){initPageLeave('Are you sure you don\'t wan\'t to complete and save your quiz?');jQuery('#editquestionformmodel').yiiactiveform({'validateOnSubmit':true,'afterValidate':function(form,data,hasError){if(hasError)-->
        <!--{var errors=data;var i=0;for(error in errors)-->
        <!--{if(i==0)-->
        <!--{var $input=$("#"+error,form);if($input.is("input")){$input.focus();}-->
        <!--else{if(!$input.size()){$input=$("#"+error.replace(/_id/,""));}-->
        <!--if($input){$(window).scrollTop($input.offset().top);}}-->
        <!--break;}}-->
        <!--return false;}-->
        <!--return true;},'attributes':[{'id':'EditQuestionFormModel_question','inputID':'EditQuestionFormModel_question','errorID':'EditQuestionFormModel_question_em_','model':'EditQuestionFormModel','name':'question','enableAjaxValidation':false},{'id':'EditQuestionFormModel_answer_1','inputID':'EditQuestionFormModel_answer_1','errorID':'EditQuestionFormModel_answer_1_em_','model':'EditQuestionFormModel','name':'answer_1','enableAjaxValidation':false},{'id':'EditQuestionFormModel_answer_2','inputID':'EditQuestionFormModel_answer_2','errorID':'EditQuestionFormModel_answer_2_em_','model':'EditQuestionFormModel','name':'answer_2','enableAjaxValidation':false},{'id':'EditQuestionFormModel_answer_3','inputID':'EditQuestionFormModel_answer_3','errorID':'EditQuestionFormModel_answer_3_em_','model':'EditQuestionFormModel','name':'answer_3','enableAjaxValidation':false},{'id':'EditQuestionFormModel_answer_4','inputID':'EditQuestionFormModel_answer_4','errorID':'EditQuestionFormModel_answer_4_em_','model':'EditQuestionFormModel','name':'answer_4','enableAjaxValidation':false}]});});-->
        <!--//]]></script>-->




    </div>
</div>
<div class="footer-bg">
    <div class="wrap">
        <div class="footer">
            <div class="f_grid">
                <div class="social">
                    <ul class="follow_icon">
                        <li><a href="#" style="opacity: 1;"><img src="/images/fb.png" alt=""></a></li>
                        <li><a href="#" style="opacity: 1;"><img src="/images/g+.png" alt=""></a></li>
                        <li><a href="#" style="opacity: 1;"><img src="/images/tw.png" alt=""></a></li>
                        <li><a href="#" style="opacity: 1;"><img src="/images/pinterest.png" alt=""></a></li>
                    </ul>
                </div>
            </div>
            <div class="f_grid1">
                <ul class="f_nav">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="clients.html">Clients</a></li>
                    <li><a href="index.html">Pubblications</a></li>
                    <li><a href="index.html">Students</a></li>
                    <li><a href="index.html">Staff</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
                <div class="copy">
                    <p class="w3-link">© All Rights Reserved | Design by&nbsp; <a href="http://w3layouts.com/"> W3Layouts</a></p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="f_logo">
                <a href=""><img src="/images/logo2.png" alt=""></a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
</body>
</html>